---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Posts from '../components/svelte/Posts.svelte';
import CosmeticText from '../components/CosmeticText.astro';

import { siteTitle, SiteDescription } from '../data/site.json';
import { heading } from '../data/landing.json';
import { getCollection } from 'astro:content';

import Arrow from '../components/Arrow.astro';

import { userSocials, userEmail } from '../data/user-contact.json';

interface Props {
  cosmeticText?: string;
}

const allPosts = (await getCollection('posts')).filter(
  (post) => post.data.published
);

const heroTags: Set<string> = new Set(
  allPosts.flatMap((post) => post.data.tags)
);

const cosmeticTexts: { [section: string]: string } = {
  header: 'Vilian Gerdzhikov',
  hero: 'It travels far and wide',
};
---

<Layout
  siteTitle={siteTitle}
  siteDescription={SiteDescription}
  headerCosmeticText={cosmeticTexts.header}
>
  <Section class="flex justify-between max-h-72 md:min-h-64">
    <CosmeticText text={cosmeticTexts.header} desktopVertical />
    <CosmeticText
      class="md:mt-auto text-nowrap"
      text={new Date()
        .toLocaleDateString('en-us', { year: 'numeric', month: 'short' })
        .toUpperCase()}
    />
  </Section>

  <Section class="flex flex-row p-2">
    <a class="hover:brightness-125" href="/">
      <h1 class="text-4xl sm:text-5xl">{heading}</h1>
    </a>

    <div class="hidden ml-auto gap-4 md:gap-0 md:flex md:flex-col">
      <a
        class="ml-auto hover:brightness-125 duration-200"
        href={`mailto:${userEmail}`}
        >{userEmail}<Arrow class="stroke-primary-foreground" rotate={-45} /></a
      >
      <div class="flex flex-row-reverse flex-wrap gap-4">
        {
          userSocials.map((social) => (
            <a class="hover:brightness-125 duration-200" href={social.link}>
              {social.title}
              <Arrow class="stroke-primary-foreground" rotate={-45} />
            </a>
          ))
        }
      </div>
    </div>
  </Section>

  <Section
    class="relative flex bg-radial-[at_50%_10%] from-accent/10 to-transparent"
  >
    <span class="text-4xl italic m-auto text-center">Want to get started?</span>
    <CosmeticText text={cosmeticTexts.hero} desktopVertical mobileVertical />
  </Section>

  <!-- POSTS -->
  <Section>
    <Posts client:load allPosts={allPosts} />
  </Section>
</Layout>
