---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Posts from '../components/Posts.astro';
import CosmeticText from '../components/CosmeticText.astro';

import { getCollection } from 'astro:content';

import Arrow from '../components/Arrow.astro';

import { userSocials, userEmail } from '../data/user-contact.json';
import { title, author, heroAside, description } from '../data/landing.json';
interface Props {
  cosmeticText?: string;
}

const allPosts = (await getCollection('posts')).filter(
  (post) => post.data.published
);

const heroTags: Set<string> = new Set(
  allPosts.flatMap((post) => post.data.tags)
);


---

<Layout
  siteTitle={title}
  siteDescription={description}
>
  <Section class="flex justify-between max-h-72 md:min-h-64">
    <CosmeticText text={author} desktopVertical />
    <CosmeticText
      class="md:mt-auto text-nowrap"
      text={new Date()
        .toLocaleDateString('en-us', { year: 'numeric', month: 'short' })
        .toUpperCase()}
    />
  </Section>

  <Section class="flex flex-row p-2">
    <a class="hover:brightness-125" href="/">
      <h1 class="text-4xl sm:text-5xl">{title}</h1>
    </a>

    <div class="hidden ml-auto gap-4 md:gap-0 md:flex md:flex-col">
      <a
        class="ml-auto hover:brightness-125 duration-200"
        href={`mailto:${userEmail}`}
        >{userEmail}<Arrow class="stroke-primary-foreground" rotate={-45} /></a
      >
      <div class="flex flex-row-reverse flex-wrap gap-4">
        {
          userSocials.map((social) => (
            <a class="hover:brightness-125 duration-200" href={social.link}>
              {social.title}
              <Arrow class="stroke-primary-foreground" rotate={-45} />
            </a>
          ))
        }
      </div>
    </div>
  </Section>

  <Section
    class="relative flex bg-radial-[at_50%_10%] from-accent/10 to-transparent"
  >
    <span class="text-4xl italic m-auto text-center">Want to get started?</span>
    <CosmeticText text={heroAside} desktopVertical mobileVertical />
  </Section>

  <Section>
    <Posts allPosts={allPosts} />
  </Section>
</Layout>
